#header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;

  .logo {
    font-weight: 400;

    a {
      color: $tertiary-color;
      font-size: 2em;
    }
  }

  .menu {
    align-self: flex-start;
    font-family: $decoration-font-family;

    ul {
      display: inline-block;
      padding-right: 25px;

      li {
        display: inline-block;
        margin-right: 5px;
        border-radius: 5px;
        padding: .3em;
        &:hover {
          background: #fff;
          a {
            color: #000;
          }
        }
        a {
          color: $tertiary-color;
          font-size: 18px;
          text-decoration: underline
        }
      }
    }
  }
}
@include max-screen() {
  #header {
    padding: 1em;
    display: block;
    text-align: center;
    .menu ul {
      display: grid;
    }
  }
}
