{% extends "index.html" %}

{% block content %}
<div class="taxonomy">
    <h2>{{ terms | length }} Categories</h2>
    <p>These are the Categories used for all posts so it's easier to find what you're looking for.</p>
        here.</p>
    {% for category in terms %}
    <div class="taxonomy__item">
        <span class="taxonomy__item__title">
            <a href="{{ category.permalink }}"> {{ category.name }} <span class="count">- ({{ category.pages | length }})</span></a>
        </span>
    </div>
    {% endfor %}
</div>
{% endblock content %}
