{% import "post_macros.html" as post_macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="utf-8">
    <link rel="canonical" href="{{config.base_url}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="alternate" href="{{ config.title }}" hreflang="en-US">
    <link rel="alternate" href="{{ config.title }}/es/" hreflang="es-ES">
    <title>{% if page.title %}
            {{ page.title }} |
        {% endif %}
        {{ config.title }}
    </title>
    <meta name="Description" content="{{config.description}}">
    <link rel="canonical" href="{{config.base_url}}">
    <meta name="keywords" content="{site.keywords}">
    {% endblock title %}
    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
    {% endif %}
    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}">
    {% endblock css %}
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <div class="container">
        <header id="header">
            <div class="logo"><a rel="icon author" href="{{ config.base_url }}">{{ config.extra.even_title }}</a></div>
            <nav class="menu">
                <ul>
                    {% for i in config.extra.even_menu %}
                    <li><a href="{{ i.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ i.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            <div class="content">
                <!-- Allow homepage to render from content/_index.md -->
                {% if section %}
                    {% set page = section %}
                {% endif %}

                <!-- Here's where content will be placed -->
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        <footer>
            <p>Lost? Don't know where to start? Just go to the <a title="Links page where you find out more about what's on the site." href='{{ get_url(path="links") }}'>Links</a> page.</p>
            <p>Want to get in touch? Refer to my <a title="Contact Me page where you can get in touch with me in the fashion of an FAQ." href='{{ get_url(path="contact") }}'>contact me</a> page.</p>
            <a title="Links page where you find out more about what's on the site." href='{{ get_url(path="links") }}'>Sitemap</a> ▪ <a title="MaterialFuture.net RSS Feed for all posts." href="{{ get_url(path="rss.xml") }}">RSS</a> ▪ <a title="Merveilles Town Mastodon profile." href="https://merveilles.town/@materialfuture">Merveilles Town</a> ▪ <a href='https://webring.xxiivv.com/' target='_blank'>XXIIV Webring</a> ▪ <a title="Trying to contact me via email? Click here." href='{{ get_url(path="contact") }}'>Email</a>
            <br/>{{config.title}} ©
        </footer>
    </div>
</body>
</html>
