{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <meta charset="utf-8">
    <link rel="canonical" href="{{config.base_url}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="alternate" href="{{ config.title }}" hreflang="en-US">
    <link rel="alternate" href="{{ config.title }}/es/" hreflang="es-ES">
    <title>{{ config.title }}</title>
    <meta name="Description" content="{{config.description}}">
    <link rel="canonical" href="{{config.base_url}}">
    <meta name="keywords" content="{site.keywords}">
    {% endblock title %}
    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
    {% endif %}
    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}">
    {% endblock css %}
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    <div class="container">
        <header id="header">
            <div class="logo"><a href="{{ config.base_url }}">{{ config.extra.even_title }}</a></div>
            <nav class="menu">
                <ul>
                    {% for i in config.extra.even_menu %}
                    <li>
                        <a href="{{ i.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ i.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            <div class="content">
                {% for j in config.extra.homepage_content %}
                {{ j.content}}
                {% endfor %}
            </div>
        </main>
        {% block footer %}
        {% endblock footer %}
    </div>
</body>

</html>